@import url(https://use.fontawesome.com/6743a74a84.css);* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
}

html,
body {
  height: 100%;
}

header {
  background-color: #221E1F;
  color: #FFFFFF;
  vertical-align: middle;
  width: 100%;
}

header h1 {
  font-size: 1.75em;
  padding: 15px;
  text-align: center;
}

h2 {
  background-color: #671E75;
  display: block;
  padding: 15px;
  margin: 15px 15px 0 15px;
  font-size: 1.25em;
  text-align: center;
}

h2 a {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
}

ul {
  list-style: none;
}

ul.topics,
ul.questions {
  padding-top: 15px;
}

ul.topics li,
ul.questions li {
  margin: 15px 15px 0 15px;
  padding: 0;
}

ul.topics li a,
ul.questions li a {
  display: block;
  padding: 15px 0;
  margin: 0 15px 0 15px;
}

ul.topics li {
  margin: 0 15px 15px 15px;
}

ul.questions li ul.answers,
ul.questions li ul.answers li,
ul.questions li ul.follow-up-question,
ul.questions li ul.follow-up-question li,
ul.questions li ul.follow-up-question li ul.follow-up-options,
ul.questions li ul.follow-up-question li ul.follow-up-options li,
ul.questions li ul.follow-up-question li ul.follow-up-options li ul.follow-up-answers,
ul.questions li ul.follow-up-question li ul.follow-up-options li ul.follow-up-answers li {
  margin: 0 3px 0 3px;
}

ul.questions li ul.answers li,
ul.questions li ul.follow-up-question li ul.follow-up-options li ul.follow-up-answers li {
  padding: 15px;
}

ul.questions ul.answers li {
  margin-top: 0;
}

ul.questions ul.follow-up-questions li {
  margin-top: 0;
}

ul.topics li a,
ul.questions li a {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
}

ul.topics li a span,
ul.questions li a span {
  position: absolute;
  right: 30px;
}

ul.topics li ul.follow-up-question li ul.follow-up-options li a span,
ul.questions li ul.follow-up-question li ul.follow-up-options li a span {
  position: absolute;
  right: 45px;
}

ul.topics li a span.fa::before,
ul.questions li a span.fa::before,
ul.questions ul.follow-up-question ul.follow-up-options li a span.fa::before {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

ul.topics li:nth-child(even) {
  background-color: #221E1F;
}

ul.topics li:nth-child(odd) {
  background-color: #671E75;
}

ul.questions li,
ul.questions ul.follow-up-question ul.follow-up-options li {
  background-color: #221E1F;
}

ul.questions li ul.follow-up-question li ul.follow-up-options li:not(:last-child) {
  margin-bottom: 15px;
}

ul.questions li ul.answers li,
ul.questions li ul.follow-up-question li,
ul.questions li ul.follow-up-question li ul.follow-up-options li ul.follow-up-answers li {
  background-color: #671E75;
  border: none;
}

.hide {
  display: none;
  visibility: hidden;
}

.show,
ul.questions li ul.follow-up-question li ul.follow-up-options {
  display: block;
  visibility: visible;
  padding-bottom: 15px;
}

